<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "SENAI", root_path, class:"navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li> <%= current_user.name%> - <%= image_tag(@auth['info']['image'], width: '50', heigth: '50', class: 'img-circle')%> </li>
        <li><%= link_to "Sair", 'sign_out', method: :delete %></li>
        <% else %>
          <li> <%= link_to "auth/facebook" do %>
              <%= fa_stacked_icon "facebook", base: "square-o" %>
            <% end %>
          </li>

        <li> <%= link_to "auth/twitter" do %>
              <%= fa_stacked_icon "twitter", base: "square-o" %>
            <% end %>
        </li>

        <li> <%= link_to "auth/github" do %>
              <%= fa_stacked_icon "github", base: "square-o" %>
            <% end %>
        </li>

        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>